.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.git
.gitignore
.pytest_cache
htmlcov
.mypy_cache
.ruff_cache
node_modules
staticfiles
.env
*.sqlite3